.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  font-family: 'nanumsquare';
}

.modal{
  margin-top: 20px;
  padding: 20px;
  background: #eee;
}

.black-nav {
  background: white;
  width: 100%;
  display: flex;
  color: black;
  padding: 15px;
  font-weight: 600;
  font-size: 30px;
}

.title{
  font-family: cursive;
  vertical-align: middle;
  display: inline-block;
}

.emoji div {
  display: inline-block;
  list-style: none;
  
}

.feed{
  padding:15px;
}
/* feed_profile 범위가 이상함.. 픽셀 우선 직접 확인 후 입력 */
.feed_profile{
  padding-bottom: 70px;
}

.feedimage{
  margin-bottom: 20px;
}

.myid{
  padding:15px;
}
.story{
  width:100%;
  display:flex;
  padding:15px;
}
.good{
  font-weight:bold;
  font-size:20px;
  text-align: left;
}
.contents{
  font-size:20px;
  text-align: left;
}


.myprofile{
  
  width:50px;
  height:50px;
  margin-right: 10px;
  border-radius: 50%;
  float:left;
  border:2px solid black;
}

.myid {
  padding:10px;
  float: left;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
}

.my_story{
  float:left;
  width:80px;
  height:80px;
  margin-right: 20px;
  border-radius: 50%;
  border: 4px dashed #bcbcbc;
}

.friends_story{
  float: left;
  margin-right: 20px;
  width:80px;
  height:80px;
  border-radius: 50%;
  border: 4px dotted #111111;
}
.reaction{
  margin-bottom: 80px;
}

.reaction div{
  font-size:30px;
  float:left;
  margin:10px;
}

.list {
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.comment_id {
  margin-left: 20px;
  float:left;
}
.comment{
  font-size:20px;
  margin: 10px;
  font-family: sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.publish {
  margin-top: 30px;
  margin-bottom: 30px;
}

.publish input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 80%;
  border: 1px solid grey;
}

.publish button {
  display: block;
  margin: auto;
  margin-top: 10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
